/** Grid  **/

/* Se establezcan las configuraciones dentro del media cuando lo pantalla sea mayor a 768px */
@media only screen and (min-width: 768px){
    body {
        background-color: #557694;
    }

    .contenedor-grid{
        margin-bottom: 15px;
    }

    .contenedor-grid::after {
        content: '';
        display: block;
        clear: both;
    }

    /* Establecer las siguientes propiedades cuando un elemento tenga en su atributo clase la palabra columnas */
    [class*="columnas"]{
        padding: 0 10px;
        float: left;
    }

    .columnas1-4 {
        width: 25%;
    }
    .columnas2-4 {
        width: 50%;
    }
    .columnas3-4 {
        width: 75%;
    }
    .columnas1-3 {
        width: 33.3%;
    }
    .columnas2-3 {
        width: 66.6%;
    }
}