#rojo {
    color: red;
    font-family: sans-serif;
    font-size: 42px;
    text-transform: uppercase;
}

.rojo {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: green;
    font-size: 32px;
    font-weight: bold;
}

p {
    /*line-height: 10px;*/
    text-align: left;
    /*etter-spacing: 2px;*/
}

.contenedor {
    width: 1100px;
    background-color: aquamarine;
}

img {
    float: right;
    width: 200px;
    background-color: crimson;
    border-radius: 20px;
    border-radius: 3px solid black;
}