/* * Selectores */
/* Etiqueta => p, h1 */

/* Clases => .nombre-clase */

/* id => #nombre-id */

/* * Unidades */
/* Absolutas
  in, mm, px, pt, etc...
*/

/* Relativas
  porcentaje (%), em, rem
*/

html {
  font-size: 12px;
}

body {
  font-family: Helvetica;
  text-align: center;
  margin: 0%;
}


.contenedor {
  background-color: aliceblue;
  width: 100%;
}

header {
  background-color: blue;
  color: white;
  width: 100%;
  height: 45px;
  text-align: left;
  padding-left: 25px;
  padding-top: 5px;
}

main {
  background-color: lightblue;
  height: 500px;
  width: 100%;
}

#seccion {
  background-color: rgba(235, 235, 235, 0.863);
  width: 70%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  background-color: rgb(82, 155, 214);
  width: 80%;
  height: 100px;
  border-radius: 7px;
  margin: 25px;
}

footer {
  background-color: blue;
  color: white;
  width: 100%;
  height: 45px;
  text-align: left;
  padding-left: 25px;
  padding-top: 5px;
}
